.header {
  background: #f4f4f4;
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
}
.header .row-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu-list ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}

.header .menu-list ul li {
  padding: 8px;
  margin-right: 10px;
}
.text-center {
  text-align: center;
}

.TodoWrapper {
  display: flex;
  justify-content: center;
}
.todoInner {
  width: 380px;
}
.Todo-item {
  background: #dfdfdf;
  margin-top: 5px;
}
.cpt {
  background: #b4f1d5;
}
.Todo-item .item,
.Todo-item .item .opts {
  display: flex;
  justify-content: space-between;
}
.Todo-item .item .title {
  padding: 4px 10px;
}
.Todo-item .item .opts div {
  border: 1px solid;
  cursor: pointer;
}
.form-todo {
  display: flex;
}
.form-todo {
  display: flex;
}
.inputBox {
  flex: 1;
}
.submitBtn {
  width: 67px;
}
